$my-font: 'Chilanka', cursive;
$color-default: #c9d1d9;
$color-mute: #8b949e;


//HEADER VARIABLES
$header-bg: #24292e;

$size: 14px;
$m-r-l: 16px;


//MAIN CONTENT VARIABLES

$content-bg: #0d1117;
$hover-bg: #30363d;
$hover-text-color: #58a6ff;