.Header {
    margin: auto 0;
    background-color: $header-bg;
    height:50px ;
    display: flex;
    align-items: center;
    padding: 10px 5%;

    a, svg{

        &:hover{
            color: $color-mute;
        }
    }
    
    &-logo{

        margin-right: $m-r-l;

        svg{
            width: 32px;
            height: 32px;
            color: $color-default;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    &-search{

        position: relative;
        

        input{
            background-color: $content-bg;
            width: 300px;
            height: 30px;
            padding: 10px;
            font-size: $size;
            border: none !important;
            margin-right: $m-r-l;
            border-radius: 6px;

            

            
        }

        svg{
            color: $color-mute;
            position: absolute;
            right: 20px;
            top: 8px;
            cursor: pointer;

            &:hover{
                color: $color-default;
            }
            
        }
    }
    &-leftLinks{

        a{
            color: $color-default;
            margin-right: $m-r-l;
            font-size: $size;
        }

    }
    
    &-rightLinks{
        margin-left: auto;

        a{
            color: $color-default;
            margin-right: 15px;
            margin-left: $m-r-l;

            img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-bottom: 8px;
            }

            .icon-play3{
                transform: rotate(90deg);
                font-size: 14px;
                transition: .2s ease-in-out;
                

                &:hover{
                    color: #fff ;
                }
            }

            &:hover{
                color: $color-mute;
            }

            

        }

    }

}